*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.nar
*.ear
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
/.idea/
/.gradle/
/build/

# 빌드 산출물 jar 는 제외하되, gradle wrapper jar 는 반드시 포함
*.jar
!gradle/wrapper/gradle-wrapper.jar
